<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    {% include 'nav.html' %}
    <main class="container">
      <section class="about" id="about">
        <div class="container">
          <div class="about-content">
            <div class="about-text">
              {% if postf != Null%}
              <div>
                <form method="POST" action="">
                  {% csrf_token %} {{ postf.title.label_tag }} {{ postf.title }}
                  <br />
                  {{ postf.description.label_tag }} {{ postf.description }}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              {% endif %} {% if achievf %}
              <div>
                <form method="POST" action="">
                  {% csrf_token %} {{ achievf.title.label_tag }} {{
                  achievf.title }}
                  <br />
                  {{ achievf.description.label_tag }} {{ achievf.description }}
                  <br />
                  {{ achievf.date.label_tag }} {{ achievf.date }}
                  <br />
                  {{ achievf.photo.label_tag }} {{ achievf.photo }}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              {% endif %} {% if eventf %}
              <div>
                <form method="POST" action="">
                  {% csrf_token %} {{ eventf.date.label_tag }} {{ eventf.date }}
                  <br />
                  {{ eventf.headline.label_tag }} {{ eventf.headline }}
                  <br />
                  {{ eventf.description.label_tag }} {{ eventf.description }}
                  <br />
                  {{ eventf.stat.label_tag }} {{ eventf.stat }}
                  <br />
                  {{ eventf.faculty.label_tag }} {{ eventf.faculty }}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              {% endif %} {% if contactf %}
              <div>
                <form method="POST" action="">
                  {% csrf_token %} {{ contactf.name.label_tag }} {{
                  contactf.name }}
                  <br />
                  {{ contactf.designation.label_tag }} {{ contactf.designation
                  }}
                  <br />
                  {{ contactf.email.label_tag }} {{ contactf.email }}
                  <br />
                  {{ contactf.phone.label_tag }} {{ contactf.phone }}
                  <br />
                  {{ contactf.website.label_tag }} {{ contactf.website }}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              {% endif %} {% if organisationf %}
              <div>
                <form method="POST" action="">
                  {% csrf_token %} {{ organisationf.name.label_tag }}
                  {{organisationf.name }}
                  <br />
                  {{ organisationf.thrustarea.label_tag }}
                  {{organisationf.thrustarea}}
                  <br />
                  {{ organisationf.city.label_tag }} {{organisationf.city }}
                  <br />
                  {{ organisationf.address.label_tag }} {{organisationf.address
                  }}
                  <br />
                  {{ organisationf.contact.label_tag }} {{organisationf.contact
                  }}
                  <br />
                  {{ organisationf.stage.label_tag }} {{organisationf.stage }}
                  <br />
                  {{ organisationf.stat.label_tag }} {{organisationf.stat }}

                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include 'foot.html' %}
  </body>
</html>
