<body>
{% include 'nav.html' %}
<section class="about" id="about">
  <div class="container">
    <div class="about-content">
      <div class="about-text">
        <div class="about-card">
          <div class="card-icon">
            <i class="fas fa-university"></i>
          </div>
          <p>{{faculty.name}}</p>
          <p>{{faculty.email}}</p>
        </div>
        <h3>Patents</h3>
        <a href="{% url "form" %}" style="text-decoration: none;">
          <button style="background: #3788d4; color: #fff; border-radius: 5px; padding:10px 20px">Add Patent</button>
        </a>
        {% for i in patent %}
        <div class="about-card">
          <div>
            <p>Patent Number : {{i.patentNumber}}</p>
            <p>Title {{i.title}}</p>
          </div>
          <div>
            <a href="{% url 'updateform' i.id %}"><button
                style="background: #f0ad4e; color: #fff; border-radius: 5px; padding:5px 10px; margin-right:5px">✍</button></a>
            <a href="{% url 'deletePatentform' i.id %}"><button
                style="background: #d9534f; color: #fff; border-radius: 5px; padding:5px 10px;">Delete</button></a>
          </div>
        </div>

        {% endfor %}

        <h3>Books</h3>
        {% for i in books %}
        <div class="about-card">
          <p>Title {{i.title}}</p>
        </div>
        {% endfor %}

        <h3>BookChapters</h3>
        {% for i in bookchapters %}
        <div class="about-card">
          <p>Title {{i.title}}</p>
          <p>Patent Number : {{i.chapterName}}</p>
        </div>
        {% endfor %}

        <h3>Journals</h3>
        {% for i in journals %}
        <div class="about-card">
          <p>Title {{i.title}}</p>
          <p>Patent Number : {{i.journalName}}</p>
        </div>
        {% endfor %}

        <h3>Copyrights</h3>
        {% for i in copyrights %}
        <div class="about-card">
          <p>Patent Number : {{i.copyrightNumber}}</p>
          <p>Title {{i.title}}</p>
        </div>
        {% endfor %}

        <h3>Conferences</h3>
        {% for i in conferences %}
        <div class="about-card">
          <p>Title {{i.title}}</p>
          <p>Patent Number : {{i.journalName}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% include 'foot.html' %}
