{% extends 'main.html' %} {% load static %} {% block content %}

<section class="about" id="about">
  <div class="container">
    <div class="about-content">
      <div class="about-text">
        <form method="POST" action="">
          {% csrf_token %} {{ patentf.patentNumber.label_tag }}
          {{patentf.patentNumber }} {{patentf.area.label_tag}} {{patentf.area}}
          {{patentf.domain.label_tag }} {{ patentf.domain }}
          <input type="submit" value="submit" />
        </form>
        <form method="POST" action="">
          {% csrf_token %} {{ form.as_p }}
          <input type="submit" value="submit" />
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
